# **Analysis of US Real Estate Market: Home Costs & Income Across Regions**

## *A Comprhensive Study Incorporating Economic Indicators from the US Census*

### By Eric Lance Weber (6/5/2024)

## Introduction

   Over the years, the prevailing notion that 'home prices and income are not increasing at the same rate' has sparked concerns about the stability and accessibility of the housing market. This discrepancy, if true, could have far-reaching implications, particularly in the realm of housing affordability. As home prices surge, obtaining suitable financing becomes increasingly challenging for many individuals and families. 

   This analysis embarks on an exploration of the intricate relationship and evolving trends between housing prices and income across different geographic regions of the United States. By delving into the 'US Real Estate (Census Data),' which tracks the dynamic interplay between home cost and average income over time, we aim to uncover insights into the underlying dynamics of the US housing market. It is worth noting that this analysis will focus solely on data exploration, refraining from proposing solutions, and instead, shedding light on any notable patterns or trends observed within the dataset

## The Data

This data set was pulled from Kaggle, a well credited hub for downloading data sets across a wide variety of subjects.
This data was chosen based on relevancy, recency, and it's 'usability score' of 10: a score created by Kaggle that scores how well the data is, based on **Completeness**, **Credibility**, and **Compatibility**. Note: 10 is the highest score a data set can receive on Kaggle. If you wish to explore the data yourself, click the hyperlink below.

*US Real Estate (Census Data):* https://www.kaggle.com/datasets/joshhaber/us-real-estate-incomepriceregion-census-data?resource=download

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
real_estate_data = pd.read_csv('RealEstateUnitedStates.csv')
print('Years Covered: ', real_estate_data.Year.unique())
print('Months Covered: ', real_estate_data.Month.unique())
print('Reagions Covered:', real_estate_data.Region.unique())
print('Home Sizes Covered: ', real_estate_data['Home Size'].unique())
real_estate_data.head(10)

Years Covered:  [2022 2021 2020 2019 2018 2017 2016 2015 2014]
Months Covered:  ['December' 'November' 'October' 'September' 'August' 'July' 'June' 'May'
 'April' 'March' 'February' 'January']
Reagions Covered: ['Midwest' 'Northeast' 'South' 'United States' 'West']
Home Sizes Covered:  ['Double' 'Single ' 'Total1']

,Year,Month,Region,Home Size,Average Sales Price,Number of Households (Thousands),Median Income - Current Dollars,Median Income - 2022 Dollars,Mean Income - Current Dollars,Mean Income - 2022 Dollars
0,2022,December,Midwest,Double,144300.0,28280.0,73070.0,73070.0,102400.0,102400.0
1,2022,December,Midwest,Single,82300.0,28280.0,73070.0,73070.0,102400.0,102400.0
2,2022,December,Midwest,Total1,104700.0,28280.0,73070.0,73070.0,102400.0,102400.0
3,2022,December,Northeast,Double,158300.0,22630.0,80360.0,80360.0,115300.0,115300.0
4,2022,December,Northeast,Single,75300.0,22630.0,80360.0,80360.0,115300.0,115300.0
5,2022,December,Northeast,Total1,113900.0,22630.0,80360.0,80360.0,115300.0,115300.0
6,2022,December,South,Double,155400.0,51080.0,68230.0,68230.0,98250.0,98250.0
7,2022,December,South,Single,80700.0,51080.0,68230.0,68230.0,98250.0,98250.0
8,2022,December,South,Total1,124000.0,51080.0,68230.0,68230.0,98250.0,98250.0
9,2022,December,United States,Double,155700.0,131400.0,74580.0,74580.0,106400.0,106400.0

## Data Breakdown

The columns contained within *real_estate_data* cover years **2014 - 2022**. It goes month-by-month for each of the **4** Regions including an additional data point for the entire U.S.:

1. West
2. Midwest
3. Northeast
4. South
5. United States

Within each of those regions, there is data collected for each of the **3** Home Sizes:

1. Double
2. Single
3. Total1

NOTE: While I initally believed Total1 to be the combined sum of Double and Single, it does not appear to be the case. For this data analysis, I will be only focusing on the data points that are clearly understood and thus only focusing on *Double* and *Single* households.

# Analysis Setup

### Creating Empty Dictionaries

In [72]:
df = pd.DataFrame(real_estate_data)

# Define a range of years from 2014 to 2022 (inclusive)
years = range(2014, 2023)

# Create empty dictionary for years
year_data = {}

# Create empty dictionaries to store 'Double' and 'Single' DataFrames for each year
double_data = {}
single_data = {}

# Create an empty dictionary to store the average prices
average_prices = {}

### Dictionary for Each Year

In [74]:
#Split up by Year

# Define a range of years from 2014 to 2022 (inclusive)
years = range(2014, 2023)

# Loop through each year
for year in years:
    # Filter DataFrame for the current year and store it in the dictionary
    year_data[year] = df[df['Year'] == year]

# Access the DataFrames for specific years if needed
#year_2014 = year_data[2014]
#year_2015 = year_data[2015]
# Similarly, access DataFrames for other years if needed

### Dictionaries for Single and Double Home Sizes Per Year

In [75]:
# Fill in Double and Single Dictionaries
for year in years:
    # Filter 'Double' and 'Single' DataFrames for the current year
    double_data[year] = df[(df['Year'] == year) & (df['Home Size'] == 'Double')]
    single_data[year] = df[(df['Year'] == year) & (df['Home Size'] == 'Single ')]

# Access the DataFrames for a specific year
#double_2014 = double_data[2014]
#single_2014 = single_data[2014]

### Dictionary for Each Region

In [80]:
# Define regions and home sizes
regions = ['Midwest', 'West', 'Northeast', 'South', 'United States']
home_sizes = ['Double', 'Single ']

# Create a dictionary to store the split data
split_data = {}

# Iterate over regions
for region in regions:
    region_data = df[df['Region'] == region]
    split_data[region] = {}
    
    # Iterate over home sizes
    for home_size in home_sizes:
        split_data[region][home_size] = region_data[region_data['Home Size'] == home_size]

# Access the split data if needed
midwest_double = split_data['Midwest']['Double']
midwest_single = split_data['Midwest']['Single ']

west_double = split_data['West']['Double']
west_single = split_data['West']['Single ']

northeast_double = split_data['Northeast']['Double']
northeast_single = split_data['Northeast']['Single ']

south_double = split_data['South']['Double']
south_single = split_data['South']['Single ']

us_double = split_data['United States']['Double']
us_single = split_data['United States']['Single ']

### Dictionary for Average Home Prices for Single and Double Home Sizes Per Year

In [76]:
# Fill in Avg House Prices Dictionary
for year in years:
    # Calculate average sales price for 'Double' homes in the given year
    avg_hpd_year_double = np.average(df[(df['Year'] == year) & (df['Home Size'] == 'Double')]['Average Sales Price'])
    # Calculate average sales price for 'Single' homes in the given year
    avg_hpd_year_single = np.average(df[(df['Year'] == year) & (df['Home Size'] == 'Single ')]['Average Sales Price'])
    
    # Store the results in the dictionary
    average_prices[year] = {'Double': avg_hpd_year_double, 'Single': avg_hpd_year_single}

# Print the results
for year in years:
    print(year, ' Average Housing Price: SINGLE: ', average_prices[year]['Single'])
    print(year, ' Average Housing Price: DOUBLE: ', average_prices[year]['Double'])
    print('---')

2014  Average Housing Price: SINGLE:  46288.333333333336
2014  Average Housing Price: DOUBLE:  83673.33333333333
---
2015  Average Housing Price: SINGLE:  46758.333333333336
2015  Average Housing Price: DOUBLE:  89293.33333333333
---
2016  Average Housing Price: SINGLE:  48576.666666666664
2016  Average Housing Price: DOUBLE:  92403.33333333333
---
2017  Average Housing Price: SINGLE:  49400.0
2017  Average Housing Price: DOUBLE:  95530.0
---
2018  Average Housing Price: SINGLE:  53881.666666666664
2018  Average Housing Price: DOUBLE:  101328.33333333333
---
2019  Average Housing Price: SINGLE:  53281.818181818184
2019  Average Housing Price: DOUBLE:  105254.54545454546
---
2020  Average Housing Price: SINGLE:  58061.818181818184
2020  Average Housing Price: DOUBLE:  109305.45454545454
---
2021  Average Housing Price: SINGLE:  73156.36363636363
2021  Average Housing Price: DOUBLE:  131952.72727272726
---
2022  Average Housing Price: SINGLE:  86448.33333333333
2022  Average Housing Price: DOUBLE:  157031.66666666666
---

### Average Housing Prices Per Region

In [51]:


#Split up the Data by Regions
midwest = df[df.Region == 'Midwest']
west = df[df.Region == 'West']
northeast = df[df.Region == 'Northeast']
south = df[df.Region == 'South']
us = df[df.Region == 'United States']


#Split those new data sets by Home Size (Double and Single)
midwest_double = midwest[midwest['Home Size'] == 'Double']
midwest_single = midwest[midwest['Home Size'] == 'Single ']

west_double = west[west['Home Size'] == 'Double']
west_single = west[west['Home Size'] == 'Single ']

northeast_double = northeast[northeast['Home Size'] == 'Double']
northeast_single = northeast[northeast['Home Size'] == 'Single ']

south_double = south[south['Home Size'] == 'Double']
south_single = south[south['Home Size'] == 'Single ']

us_double = us[us['Home Size'] == 'Double']
us_single = us[us['Home Size'] == 'Single ']

,Year,Month,Region,Home Size,Average Sales Price,Number of Households (Thousands),Median Income - Current Dollars,Median Income - 2022 Dollars,Mean Income - Current Dollars,Mean Income - 2022 Dollars
10,2022,December,United States,Single,80200.0,131400.0,74580.0,74580.0,106400.0,106400.0
25,2022,November,United States,Single,88000.0,131400.0,74580.0,74580.0,106400.0,106400.0
40,2022,October,United States,Single,81400.0,131400.0,74580.0,74580.0,106400.0,106400.0
55,2022,September,United States,Single,95800.0,131400.0,74580.0,74580.0,106400.0,106400.0
70,2022,August,United States,Single,86500.0,131400.0,74580.0,74580.0,106400.0,106400.0
...,...,...,...,...,...,...,...,...,...,...
1510,2014,May,United States,Single,45700.0,124600.0,53660.0,64900.0,75740.0,91610.0
1525,2014,April,United States,Single,44700.0,124600.0,53660.0,64900.0,75740.0,91610.0
1540,2014,March,United States,Single,43200.0,124600.0,53660.0,64900.0,75740.0,91610.0
1555,2014,February,United States,Single,45000.0,124600.0,53660.0,64900.0,75740.0,91610.0
1570,2014,January,United States,Single,48000.0,124600.0,53660.0,64900.0,75740.0,91610.0